
body {
   font-family: "segoue",sans-serif;
   line-height:1.6;
   color:#666;
   font-size:14px;
}

h1 {
   color:#f0ede5;
   font-family:Verdana;
}

p {
   color:#dd2826;
   font-family: Helvetica;
}

#map {
   bottom:0px;
   height: 100%;
   left: 30%;
   position: absolute;
   right: 20%;
}

.image {
   height:5px;
   width:2px;
}

.filter {
   position:absolute;
   left:80%;
   height:500px;
   width:20%;
   overflow-y:scroll;
}

button {
    background-color: rgba(221,40,38,0.9);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:12px;
}

.cont {
   position:relative;
   height:500px;
   width:30%;
   overflow-y:scroll;
}

.cont img {
   width: 300px;
   height: 420px;
   padding:20px;
}

/* Let's get this party started */
::-webkit-scrollbar {
   width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
   -webkit-border-radius: 10px;
   border-radius: 10px;
   box-shadow: inset 0 0 6px rgba(0,0,0,1);
}

/* Handle */
::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px;
   border-radius: 10px;
   background: rgba(221,40,38,0.9); 
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}

ul {
  list-style-type: none;
}

.container {
   height: 100%;
   position: relative;	
}

.s-container {
   position:center;
   padding:20px 20px 20px 40px;
}

.f-container {
   position:center;
   padding:20px 0px 0px 0px;
   overflow-y:scroll;
}

.clearfix {
   clear:both;
}

header {
   padding:10px 5px;
   background:rgba(221,40,38,0.9);

}

.forecast {
   display: inline-block;
   vertical-align: top;
   font-family: Helvetica, sans-serif;
}

.forecast h3 {
   display: block;
   margin: auto;
   font-size: 17px;
}

.forecast li {
   display: inline-block;
   margin: 0 12px;
   padding: 0;
   font-size: 14px;
}

.forecast li:hover {
   background-color: rgba(255, 255, 255, 0);
   color: #7D7D7D;
}

hr {
   background-color: #dd2826;
   height: 4px;
   border: 0; 
}

header h1 {
   color:#000000;
   margin:5px;
   text-align:center;
}

header p {
   text-align:center;
   color:#bfbfbf;
}

header span {
   padding: 5px;
   color:#bfbfbf;
   text-align:center;
}

section {
   padding:30px 20px 20px 20px;
   height:320px;
}

footer {
   padding:5px 5px;
   text-align:center;
   background:#f4f4f4;
}

 #search-form,#filter-form {
    display: block;
    margin-bottom:15px;
}

 .fieldcontainer {
   display:block;
   position:relative;
   width:90px;
   margin: 0 auto;
}

 #search-btn hover,#filter-btn hover {
   filter:alpha(opacity=90);
  
}

 .search-field,.filter-field {
   
   display:block;
   padding:11px 7px;
   padding-right:40px;
   background:#fff;
   color:#ccc;
   border: 1px solid #c8c8c8;
   border-bottom-color:#f4f4f4;
   border-radius:1px;
   box-shadow:inset 0 1px 2px rgba(0,0,0,1),0 0 0 6px #f4f4f4; 
}

#input {
   margin: 15px 0 5px 20px;
   width: 83%;
   height: 35px;
   font-size: 17px;
   font-family: helvetica, sans-serif;
   color: #9d9d9d;
   border: none;
   -webkit-box-shadow: 2px 2px 5px #9d9d9d;
   box-shadow: 2px 2px 5px #9d9d9d;
   outline: none;
}

#scroller {
   max-height: 480px;
   overflow: scroll;
   margin: 0 5px;
}

#search-nav {
   width: 280px;
   max-height: 549px;
   background-color: rgba(256,256,256,.9);
   border: solid 2px orange;
   overflow: hidden;
}

#search-btn,#filter-btn { 
   position:absolute;
   right:10px;
   height:10%;
   width:10%;
   border:0;
   cursor:pointer;
   top:5px;
   filter:alpha(opacity=65);
   opacity:0.65;
   background:transparent url(../images/search.png) top left no-repeat;
   background-size:30px 30px;
} 
#w-button {
   position:absolute;
   right:10px;
   height:45px;
   width:45px;
   border:0;
   cursor:pointer;
   top:5px;
   filter:alpha(opacity=65);
   opacity:0.65;
   background:transparent url(../images/weather.png) top left no-repeat;
}

.list-view {
   position: absolute;
   top: 50px;
   z-index: 1;
   background: rgba(23,50,78,.5);
   color: white;
}

.list-view p {
   font-size: 1.4em;
   font-weight: bold;
   margin: 10px 5px;
}

.list-view p:hover {
   background: rgba(23,50,78,.7);
   cursor: pointer;
}

.name {
   list-style: none;
   padding: 5px;
   font-weight: bold;
}

.address {
   padding: 5px;
   padding-top: 0px;
   font-size: 12px;
   border-bottom: 1px groove;
}

.box {
   cursor: pointer;
}

.box:hover {
   background-color: #269abc;
   color: white;
}

.name {
   list-style: none;
   padding: 5px;
   font-weight: bold;
}

.address {
   padding: 5px;
   padding-top: 0px;
   font-size: 12px;
   border-bottom: 1px groove;
}